apiVersion: v1
kind: Config
clusters:
  - name: glbc-stable
    cluster:
      server: <KCP_SERVER>
contexts:
  - name: glbc@glbc-stable
    context:
      cluster: glbc-stable
      namespace: default
      user: glbc
users:
  - name: glbc
    user:
      token: <SERVICE ACCOUNT TOKEN>
current-context: glbc@glbc-stable