AWS_DNS_PUBLIC_ZONE_ID=Z08652651232L9P84LRSB
GLBC_DNS_PROVIDER=fake
GLBC_DOMAIN=dev.hcpapps.net
GLBC_ENABLE_CUSTOM_HOSTS=false
GLBC_KCP_CONTEXT=system:admin
GLBC_LOGICAL_CLUSTER_TARGET=*
GLBC_TLS_PROVIDED=true
GLBC_TLS_PROVIDER=glbc-ca
HCG_LE_EMAIL=kuadrant-dev@redhat.com
NAMESPACE=kcp-glbc
GLBC_WORKSPACE=root:default:kcp-glbc
GLBC_COMPUTE_WORKSPACE=root:default:kcp-glbc-user-compute
